[2016-11-17 04:50] WellingGuzman opened #1 "Authenticate using email/password credentials"
Authenticate or request the user token using their email/password credentials

[2016-12-07 10:01] twoSeats opened #2 "allow guzzle 6.0 ?"
I assume that guzzle 5.0 is specified in composer.json because of the desire to allow this package to be used with php 5.4
As some may already have left that behind and be using 6.0, could you allow either to be installed? something like ~5.0|~6.0

The problem:
![screenshot from 2016-12-07 11 55 20](https://cloud.githubusercontent.com/assets/536306/20963171/fd6e24ba-bc74-11e6-8e83-baf6f18d9197.jpe

[2016-12-13 00:43] WellingGuzman commented on #2
Hey @twoSeats, I'm sorry I just noticed this ticket.

I will take a look into it, and I will get back to you sometime.

Thanks.

[2017-01-20 06:56] #2 closed

[2017-01-20 06:57] WellingGuzman commented on #2
Hey @twoSeats, kind of a bit late, but better sooner than later.

I've updated the SDK to support Guzzle 6, let me know if it works for you.

[2017-01-20 16:04] flrrrhoffpauir opened #4 "Can't install via composer"
'composer require directus/sdk' gives the following output

Problem 1
    - directus/database 0.1.0 requires zendframework/zend-db dev-directus -> no matching package found.
    - directus/sdk 0.9.x-dev requires directus/database 0.1.* -> satisfiable by directus/database[0.1.0].
    - Installation request for directus/sdk ^0.9.0@dev -> satisfiable by directus/sdk[0.9.x-dev].

There is no dev-direc

[2017-01-20 16:28] WellingGuzman commented on #4
Hello @flrrrhoffpauir, thanks for reporting this.

I will have to revert this, we started using an a different branch that we work work to support spaces and dashes on columns, but it's not yet on their code, but while I'm reverting, you can do this to fix the problem.

On your `composer.json` add these lines:

[code]

Sorry for this problem we are in kind of a beta time, but we are releasing the

[2017-01-20 16:37] flrrrhoffpauir commented on #4
Thank you very much for the quick reply! That worked and I am good to go.

Thanks,
Junie

On Fri, Jan 20, 2017 at 10:28 AM, Welling Guzmán <notifications@github.com>
wrote:

[2017-01-20 17:34] twoSeats commented on #2
@WellingGuzman thanks, I'll let you know!

[2017-01-20 17:41] flrrrhoffpauir opened #5 "Column not found"
When calling any method (getItem, getItems, etc) and using any table, I get the following error:

PDOException in Statement.php line 239:
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'DT.sort_column' in 'field list'

in Statement.php line 239
at PDOStatement->execute() in Statement.php line 239
at Statement->execute() in MySQLSchema.php line 202
at MySQLSchema->getTable('directus_setting

[2017-01-20 18:06] WellingGuzman commented on #5
Hey @flrrrhoffpauir, thanks for reporting this, this is an issue with the directus/database component, are you using the `0.1.x` version?

Either way I'm fixing all the dependencies to point to the correct one by releasing all with a tag, so this stop happening.

I'm working on this, I will let you know as soon as it's done.

[2017-01-20 18:21] flrrrhoffpauir commented on #5
Ah, thanks for the clarity. The directus/sdk composer file
lists "directus/database": "0.9.*@dev"

Thanks, I will wait for your release

On Fri, Jan 20, 2017 at 12:06 PM, Welling Guzmán <notifications@github.com>
wrote:

[2017-01-20 19:58] WellingGuzman commented on #5
Hey @flrrrhoffpauir I've just updated the dependencies and how to install the SDK to support column with spaces and dashes. https://github.com/directus/directus-sdk-php#via-composer

So basically you have to change from `0.9.*` to `0.1.*`

Let me know if that works for you.

[2017-01-20 19:59] WellingGuzman commented on #4
Glad to hear.

I've updated the dependencies and tagged some versions of the dependencies.

I'm closing this ticket, if this happens again let us know.

[2017-01-20 19:59] #4 closed

[2017-01-20 20:26] flrrrhoffpauir commented on #5
Thanks very much! It works great

On Fri, Jan 20, 2017 at 1:58 PM, Welling Guzmán <notifications@github.com>
wrote:

[2017-01-20 22:32] WellingGuzman commented on #5
Glad to hear, I will close this. Anything else let us know.

[2017-01-20 22:32] #5 closed

[2017-01-25 21:06] flrrrhoffpauir opened #6 "Cannot delete multiple items"
EDIT: oops, wrong project.

On a tables page, when selecting the checkbox on multiple rows of data and then clicking the delete button, I get the following error popup:

Error: Uncaught TypeError: e.toJSON is not a function File: /assets/js/directus.min.js?bust=8e6d90c5c4e61234ac2ee02f2a034a97 Line:18

I can only delete items 1 at a time

[2017-01-25 21:09] #6 closed

[2017-02-22 23:13] flrrrhoffpauir opened #7 "getItems based on status is ignored"
[code]

I'm trying to get items that have not been deleted, but deleted items are still returned. I have also tried using filters on the 'active' column but even the deleted records are set to 1

[2017-02-22 23:27] WellingGuzman commented on #7
hey @flrrrhoffpauir thanks for reporting this.

I will check this out in a couple of minutes, I will get back as soon as I get a fix.

[2017-02-23 00:52] WellingGuzman commented on #7
Hey @flrrrhoffpauir, I want to know if you are using direct connection to the database or an Directus API?

In the meantime this should work:

[code]

[2017-02-23 16:46] flrrrhoffpauir commented on #7
@WellingGuzman I am using a direct connection to a database.

The other issue is that the deleted records still have 'active' set to 1, so using the filters doesn't work either

[2017-02-23 18:53] WellingGuzman commented on #7
hey @flrrrhoffpauir, deleting item is not changing `active` to anything? I'd have to check that out.

[2017-02-23 19:31] flrrrhoffpauir commented on #7
@WellingGuzman correct. If it would help, I can paste a response with the Entry Collection and Entry object data (which specifically for me is returning 2 Entry objects. 1 active and 1 deleted but with both having active set to 1)

[2017-02-27 23:32] flrrrhoffpauir commented on #7
@WellingGuzman have you been able to look into this? Is there a manual workaround to the database that I could apply for now?

[2017-02-28 11:21] WellingGuzman commented on #7
Hey, sorry for the delay,

I tried to delete an item and it worked, I tried to fetch by status and it work, I'm connecting directly to the database.

Please show me the response data, also what is the hash of the sdk and directus/database installed by composer?

[2017-04-30 12:21] davidpanaho opened #8 "Fatal Error: Directus\Hook\Payload not found"
Apologies if I'm supposed to follow some kind of issue logging structure, this is my first post!

When using the database connection method outlined in the readme, the following error appears:

I was able to remedy the issue by replacing the database folder with the one from the latest version of Directus (downloaded today).

Is this just a matter of updating the composer.json files? I noticed tha

[2017-04-30 12:25] benhaynes commented on #8
Hey @davidpanaho – this might be caused by this hotfix, we'll update the docs accordingly:

https://github.com/directus/directus/issues/1418#issuecomment-298214929

[2017-05-01 03:15] WellingGuzman commented on #8
Hey @davidpanaho,

I've fixed this, please try installing the version `0.1.2`, it should fix the issue.

[2017-05-01 03:15] #8 closed

[2017-05-01 05:13] davidpanaho commented on #8
Just reinstalled and it all looks good, thanks!

[2017-05-10 13:49] davidpanaho opened #9 "Warning error when using createItem with spl_autoload_register"
I just want to preface this by saying this could be an issue with my implementation of `spl_autoload_register()`, as I have only recently started using it.

I'm using `spl_autoload_register()` to load my own namespaced classes. I'm also using composer to bring in directus-sdk-php. When trying to use `$client->createItem()`, I get the following errors:

[code]

I think these error messages are dire

[2017-05-10 20:04] WellingGuzman commented on #9
Hey @davidpanaho, interesting issue, can you show me a snippet of code so I can use to reproduce this problem?

[2017-05-11 04:43] davidpanaho commented on #9
Sure thing, here are my files:

**composer.json**
[code]

**index.php**
[code]

**myAutoloader.php**
[code]

**model/Api.php**
[code]

[2017-05-11 04:44] davidpanaho commented on #9
Sure thing, here are my files:

**composer.json**
[code]

**index.php**
[code]

**myAutoloader.php**
[code]

**model/Api.php**
[code]

[2017-05-11 04:47] davidpanaho commented on #9
Also, I forgot to mention this key point earlier:

`$client->createItem()` still works in that the rows are being created in the database.

[2017-05-11 05:03] davidpanaho commented on #9
I can confirm that the error is being thrown in my autoloader as I can suppress the error by sticking an **@** symbol in front of the include in **myAutoloader.php**:

[code]

[2017-05-11 14:26] WellingGuzman commented on #9
Hey @davidpanaho, this seems as a problem you are creating yourself, that seems a conflict with you autoload, that I'm sure you are aware of, but try to check if that path still exists first.

That's just my thought before testing your code, I will test it, but this is not part of a SDK issue.

I will try to help you in here, but I will close the ticket, and open if the problem it's actually the S

[2017-05-11 14:26] #9 closed

[2017-05-11 14:49] davidpanaho commented on #9
Thanks, any help would be appreciated. I understand it may be an issue with the way my autoloader works but the code I posted above is pretty much all the code I have written for this site - I created a bare setup just to test the issue.

Here is my folder structure:

* directus-test/ _(root folder)_
  * admin/ _(where directus has been installed)_
  * model/ _(contains api class)_
    * Api.php

[2017-05-11 16:16] WellingGuzman commented on #9
hey @davidpanaho can which version of the SDK are you using? I'm going to test the same code you shared.

[2017-05-11 16:51] davidpanaho commented on #9
I think I'm using 0.1.2, I downloaded it this morning using 0.1.* in my composer.json file.

[2017-05-11 17:39] WellingGuzman commented on #9
@davidpanaho the issue is with your autoloader, it doesn't check if the class (filename) exists before trying to include it.

I will recommend to do that, or rather use composer autoload instead.

[2017-05-11 17:44] davidpanaho commented on #9
Thank you for this! I'll implement a fix on my autoloader. Is there a reason why the warnings didn't show when using $client->getItem()? Thanks again

[2017-05-11 17:49] WellingGuzman commented on #9
Because `getItem` doesn't use rowgateway, while `createItem` does to log the record creation activity.

[2017-05-11 17:51] davidpanaho commented on #9
Ah cool. Thanks again!

[2017-05-11 17:54] WellingGuzman commented on #7
Hey @flrrrhoffpauir, This seems to be working now, If still happening to you let us know, I will try to fix it asap.

[2017-05-11 17:54] #7 closed

[2017-05-15 20:44] benhaynes opened #10 "File URL path is not dynamic"
Files returned by the SDK get an automatic `url` value:

`/storage/uploads/00000000001.png`

But this path (`'/storage/uploads/`) is not pulling from the configuration.php file (might be static)

[2017-06-07 00:34] gaou-piou opened #11 "composer cannot install directus/sdk"
when i type composer update it returns

Problem 1
    - directus/sdk 0.1.2 requires directus/permissions 0.1.* -> satisfiable by directus/permissions[0.1.0] but these conflict with your requirements or minimum-stability.
    - directus/sdk 0.1.1 requires directus/permissions 0.1.* -> satisfiable by directus/permissions[0.1.0] but these conflict with your requirements or minimum-stability.
    - di

[2017-06-07 00:43] WellingGuzman commented on #11
Hey @gaou-piou, which php version are you on? make sure to set the `minimum-stability` to `dev`.

[2017-06-07 00:45] gaou-piou commented on #11
minimum-stability is setted to dev

My php version is PHP 5.6.30-0+deb8u1

[2017-06-07 00:46] WellingGuzman commented on #11
Thanks, can you show me how you `composer.json` looks like?

[2017-06-07 00:47] gaou-piou commented on #11
here it is
`{
  "require": {
    "php": ">=5.5.0",
    "slim/slim": "2.6.2",
    "slim/extras": "dev-master",
    "twig/twig":  "1.*",
    "directus/migrations": "dev-master",
    "directus/permissions": "0.9.*@dev",
    "directus/database": "~0.1.5",
    "league/flysystem": "^1.0",
    "swiftmailer/swiftmailer": "^5.4",
    "directus/sdk": "0.1.*"
  },
  "require-dev": {
    "phpunit/phpunit": "~

[2017-06-07 00:50] WellingGuzman commented on #11
**I edited your composer.json format**

That's Directus `composer.json`, why are you installing the SDK on a Directus install? you can use the same code from within Directus.

I'm curious to know what are you trying to do.

Also did you run `composer install` or `composer update`?

[2017-06-07 01:02] gaou-piou commented on #11
I try to make a registration form.
But now i understand what you say.
You are write.
 informational: how can i use
[code]
fron within Directus?

[2017-06-07 01:05] WellingGuzman commented on #11
What I recommend it's creating a separate project and use the SDK, take a look at the web app example https://github.com/directus/webapp-example

[2017-06-07 01:07] gaou-piou commented on #11
Thank you very much for your help.
I will

[2017-06-07 01:18] #11 closed

[2017-06-07 01:18] WellingGuzman commented on #11
Awesome, let's know how it goes.

[2017-06-29 00:07] Sirjoseph94 opened #12 "Error using PHP SDK"
I keep getting ` Fatal error: Uncaught Error: Class 'Directus\SDK\ClientFactory' not found in C:\xampp\htdocs\www\admin\call.php:32 Stack trace: #0 {main} thrown in C:\xampp\htdocs\www\admin\call.php on line 32`

require 'vendor/autoload.php';

$client = \Directus\SDK\ClientFactory::create('RNWoWuMiyaTXwWGmUkOWcsHugNcuIUPC', [
    // Directus API Path without its version
    'base_url' => 'http://

[2017-06-29 21:10] npinansky opened #13 "Problem with getColumns() on textarea/textinputs"
I am getting an "Invalid argument supplied for foreach()" in vendor/directus/sdk/src/Response/Entry.php:60 ( in  Directus\SDK\Response\EntryCollection::__construct() )  when calling a getColumns() on any table that has textarea/textinput columns.

The reason for this appears to be that they have "rows" attributes and in Directus\SDK\Response\Entry::__construct() there is this conditional:
`

[2017-07-02 06:56] WellingGuzman commented on #12
Hey @Sirjoseph94, how did you install the SDK, this seems like you are missing the SDK package. What's on your `vendor` directory?

[2017-07-02 07:04] WellingGuzman commented on #10
The issue we still have is that we need to copy the Directus configuration back to the sdk, unless we are using remote connections.

it should work by changing the filesystem `root_url` and `root_thumb_url`

[code]

[2017-07-07 19:07] WellingGuzman opened #15 "Add friendly errors/exceptions"
When the API or Local executions throws an error it's not that easy to tell what the error was.

[2017-07-14 13:17] mbuchser commented on #12
Hello,
Same Error here, downloaded the directus package from github including the vendor directory with autoload.php, bin,composer,directus, league, slim, swiftmailer, twig, zendframework inside.

getting the loader seems to work:

// Composer Autoloader
$loader = require 'vendor/autoload.php';
var_dump( $loader);

object(Composer\Autoload\ClassLoader)#1 (10) { ["prefixLengthsPsr4":"Composer\Autol

[2017-07-14 15:14] WellingGuzman commented on #12
Hey @mbuchser,

How did you install/download the SDK? which branch did you cloned? which tagged version you used?

[2017-07-14 21:05] mbuchser commented on #12
Downloaded a zip file from: https://github.com/directus/directus-sdk-php

[2017-07-15 23:57] WellingGuzman commented on #12
Thanks for the information, I will give it a look today and see if I could reproduce it.

I will also try it on a windows machine.

[2017-07-17 15:25] Sirjoseph94 commented on #12
Any update on this please?

[2017-07-17 19:34] WellingGuzman commented on #12
Hey there @Sirjoseph94, I wasn't able to reproduce it before, I was wondering how does your `composer.json` looks like?

[2017-07-17 21:51] Sirjoseph94 commented on #12
Hello @WellingGuzman i just updated to the latest v.6.4.0 and here is my composer.json
`{
  "require": {
    "php": ">=5.6.0",
    "slim/slim": "2.6.2",
    "slim/extras": "dev-master",
    "twig/twig":  "1.*",
    "zendframework/zend-db": "dev-directus",
    "directus/migrations": "dev-master",
    "directus/sdk": "0.1.*"
    "league/flysystem": "^1.0",
    "swiftmailer/swiftmailer": "^5.4",

[2017-07-17 21:53] WellingGuzman commented on #12
But that's the Directus `composer.json` is there a reason why you are adding the `sdk` into the Directus `composer.json`?

[2017-07-17 21:55] Sirjoseph94 commented on #12
do i have to create another composer.json for the sdk?. am adding the sdk to my project to make it easier for me to interface with the api

[2017-07-17 21:57] WellingGuzman commented on #12
If you are using the sdk into another project outside from Directus, you must create a independent `composer.json` into another project (directory), otherwise you have access to data from within Directus, no in the same way though.

[2017-07-17 21:59] WellingGuzman commented on #12
either way, if you want to use it there, you could probably recreate the autoload by running `composer dump-autoload`

[2017-07-17 22:00] Sirjoseph94 commented on #12
the directus folder is a sub folder in the project folder. am using the directus as an admin cms.

[2017-07-17 22:00] WellingGuzman commented on #12
What are you trying to do? what `call.php` for?

[2017-07-17 22:03] Sirjoseph94 commented on #12
all i want is an easier and better way of GETting data from the directus API to the frontend while directus remains the backen. I don't ant to reinvent the wheel by creating my own codes to retrieve these data

it would be nice if there's some video tutorials to go with the docs though

[2017-07-17 22:12] WellingGuzman commented on #12
It's all good. have it separate in its own project, into a separated `composer.json` and try it that way and see if it works.

[2017-07-17 22:18] Sirjoseph94 commented on #12
alright. thanks for prompt response

[2017-07-17 22:25] WellingGuzman commented on #12
@mbuchser it seems you are going to the same approach, am I correct?

[2017-07-17 23:00] Sirjoseph94 commented on #12
thanks @WellingGuzman it worked.

[2017-07-17 23:05] mbuchser commented on #12
Thanks for the updates.

i've tried the same as @Sirjoseph94 and added an php file (like his call.php) into the directus main directory, to test if i can retreive some items, and for this purpose i configured the composer.json in the directus main directory.

So in order to make it work:
1. create an folder within the directus main directory (eg. myapp - http://localhost/directus/myapp)
2. inside

[2017-07-17 23:08] WellingGuzman commented on #12
Thanks for the update, I will improve the errors to a more friendly messages. follow this issue in #15

[2017-07-17 23:08] #12 closed

[2017-08-16 06:17] wittwerch opened #16 "Unclear how to set a many-to-one field"
Directus version: https://github.com/directus/directus/commit/fabd5479836c0b06a0ef20f5916b92e5a06e8987
SDK version: 0.1.2

I'm trying to create a topic over the API and set the owner to a previously created user.

![screen shot 2017-08-16 at 08 12 26](https://user-images.githubusercontent.com/1575445/29349496-aa725ed2-825a-11e7-8ea3-35ce468f7f71.png)

Creating the user
[code]
$gossip = $client->cr

[2017-08-16 17:58] WellingGuzman commented on #16
Hey @wittwerch, after couple of tries, I still get the correct result using the example below:

[code]

[code]

can you share an example schema that I can use? are you using API (using token) or Direct connection (using mysql credentials)?

[2017-09-07 03:07] Zilus opened #17 "Fatal error: Uncaught exception 'Directus\SDK\Exception\UnauthorizedRequestException' with message 'Unauthorized GET Request to"
I have a 6.3 directus installed as backend.
I was connecting to the api via the php sdk, but now I can't. The error is:

```Fatal error: Uncaught exception 'Directus\SDK\Exception\UnauthorizedRequestException' with message 'Unauthorized GET Request to http://server/admin/api/1.1/tables/meta/rows/1' in /home/cav/public_html/demo/vendor/directus/sdk/src/BaseClientRemote.php:292 Stack trace: #0 /home

[2017-09-08 12:06] thenatefleming opened #18 "App can't find tables"
Hi, I have an application that is attempting to pull data from a directus install and I keep getting the same error message in my application's console:

`{message: "Unable to find the table "my_data"}`

I am currently working locally with my api endpoint being:
`http://localhost:8888/cms/api/1.1/tables/directus_users` and when I hit that in the browser I see my json as expected, but apparently it

[2017-09-08 13:45] rijkvanzanten commented on #18
How do you try fetching this data from the SDK? Do you have example code / a simple schema maybe so we can reproduce this?

[2017-09-10 03:12] WellingGuzman commented on #18
Also, is this table being managed by directus?

[2017-09-22 15:51] foggy-hazard opened #19 "500 error after following instructions"
When I try to follow the instructions in the readme and add these lines to the composer.json file and then run composer update I get a 500 error when trying to access Directus.

Is this a known problem?
Am I missing something, is there another file where I should be editing the first part instead of the composer.json in the root directus directory?

[2017-09-24 20:30] WellingGuzman commented on #19
Hey @foggy-hazard can you show us how are you accessing Directus? can you provide some example code?

[2017-09-25 20:05] foggy-hazard commented on #19
Hi @WellingGuzman! I’m using a LAMP setup on ubuntu 16.04.
The only thing that I changed was the composer.json file based on the readme info in this repo, and then ran composer update.

This is how my composer.json looks like after changing it:
https://codeshare.io/foggy-h

Is there another place I should be adding this then in the composer.json file?

[2017-09-27 01:23] WellingGuzman commented on #19
You shouldn't be adding the SDK into Directus, the SDK is meant to work as standalone, outside the Directus directory and composer.json

All the steps described in the README are for a new composer file in a new directory outside Directus directory.

I'm closing this as this doesn't seem like a bug to the SDK, but rather a confusion on how to use it.

Here is an example: https://github.com/directu

[2017-09-27 01:23] #19 closed

[2017-10-16 12:58] rande opened #21 "Wrong logic for avatar_file_id"
Hello,

I am writing a script to import users to directus. And there is an issue with the ``avatar_file_id`` field. The documentation stated the api expected an ``integer`` however the code expect to be a ``File`` object.

https://github.com/directus/directus-sdk-php/blob/6c282bac9e18eb998da87fea370916e9dd53086e/src/AbstractClient.php#L88-L90

https://github.com/directus/directus-sdk-php/blob/6c28

[2017-10-16 17:29] WellingGuzman commented on #21
I will take a look, it should take the `Integer` and convert it into a `File` object (under the hood).

[2017-12-06 11:28] arthurzaczek opened #22 "createItem does not create an item but returns a list of all items"
Creating a item in directus works, but not from the php-sdk. It does not reutrn any error but returns a list of all items. According to the docmentation it should return the created item.

[code]

here is my example code:

[code]

[2018-01-08 19:37] Faey2222 opened #23 "No way to access table metadata (i.e. total_entries, published, ...)"
It seems the SDK doesen't offer any possible way to access the metadata received from the table. The PHP Object has the Information but it is protected so I don't see any chances of using these information.

Is there any other possible way to get this information?

[2018-01-08 19:42] WellingGuzman commented on #23
Hey @Faey2222, you can fetch the metadata using `getMetaData()` method.

[2018-01-25 15:10] bunower opened #24 "Uncaught Error: while using hash function."
Using $client->hash('secret') throws an uncaught error.

[2018-01-29 16:20] WellingGuzman commented on #24
After looking at the code the method name is `getHash(<string>, [<options>]);`

Ex:
[code]

[2018-01-29 16:20] #24 closed

[2018-01-29 16:20] #23 closed

[2018-01-29 16:24] bunower commented on #24
ok Thank you.

[2018-03-13 16:04] taxaos opened #26 "Cannot install due to missing dependency"
[code]

As you can see in the output, the `directus/database/` needs `zendframework/zend-db` with version `dev-directus` which is not available in the original Zend Repository.

How to fix? Wanna use this client :)

[2018-03-13 16:19] WellingGuzman commented on #26
Hey @taxaos, how your composer.json looks like?

I created a fork from zend-db to fix some issues we were experiencies with ZendDB.

You need to add the code below into your `composer.json`, this repository is not published to packagist.

[code]

[2018-03-13 16:33] taxaos commented on #26
Hello @WellingGuzman,

thanks for the information. I've attached a PR to this repo to reflect this in install (see https://github.com/directus/directus-sdk-php/pull/27)

[2018-03-13 18:10] BennerGe commented on #26
I've got also problems to install the SDK.
Using the following `composer.json`
[code]
leads to this error:
[code]

When changing the required version of the SDK to `"directus/sdk": "1.0.0"` the error as described above by @taxaos occurs.

[2018-03-14 05:09] #26 closed

[2018-03-14 05:11] WellingGuzman commented on #26
Hey @BennerGe can you try adding `"minimum-stability": "dev"`?

Example:
[code]

Or use the version 1.0.0 which is the latest version.

[2018-03-14 08:11] BennerGe commented on #26
Adding `minimum-stability` worked, this is also necessary to install version `1.0.0`

[2018-03-16 20:25] WellingGuzman commented on #26
Thanks @BennerGe, I will add it to the readme!

[2018-03-31 19:59] WellingGuzman commented on #22
@arthurzaczek I was unable to reproduce this issue, did you manage to solve it? could you please share the schema of that table?

[2018-03-31 20:16] #21 closed

[2018-03-31 20:17] WellingGuzman commented on #17
Hey @Zilus is still a issue, it seems to be a issue with the old version, please try using `1.0.0`, otherwise let me know and I will re-open the ticket.

[2018-03-31 20:17] #17 closed

[2018-03-31 20:17] WellingGuzman commented on #18
Due to lack of activity I'm going to close this ticket.

[2018-03-31 20:17] #18 closed

[2018-03-31 20:19] WellingGuzman commented on #10
Was the issue solve by my previous snippet? if it didn't let me know and I will re-open this ticket.

[2018-03-31 20:19] #10 closed

[2018-03-31 20:19] WellingGuzman commented on #16
Due to lack of activity I'm going to close this ticket.

[2018-03-31 20:19] #16 closed

[2018-03-31 22:39] WellingGuzman commented on #13
Old issue, wasn't able to replicate back then, still not able. I will close this and pretended it was fixed on 1.0.0, if this still happen and provide a steps to reproduce this issue I will re-open this ticket.

[2018-03-31 22:39] #13 closed

[2018-03-31 22:39] #22 closed

[2018-04-03 08:15] arthurzaczek commented on #22
I ended up using a simple online excel and uninstalled my directus installation.

[2018-04-19 23:15] ryanhmaas opened #29 "Directory to Install"
Hi, what directory is the sdk supposed to be installed in on, let's say, a Digital Ocean or Vultr server using a preconfigured LAMP stack? I've installed it on /var/www/html but whenever I try to request a token I get a response that says

[code]

Thoughts? Maybe the Apache config is incorrectly configured?

[2018-04-21 02:02] bunower opened #30 "Composer does not install php sdk correctly"
I cant install dirrectus-php-sdk correctly with following  requirements.
`
{
  "require": {
    "directus/sdk": "~1.0.0"
  },
  "minimum-stability": "dev",
  "repositories": [{
    "type": "git",
    "url": "https://github.com/wellingguzman/zend-db"
  }]
}
`
I get an error when i use the getitems function.

[2018-04-21 02:06] WellingGuzman commented on #30
- You can't install the package correctly? are you getting any specific error from composer?
- What error are you getting when you use `getItems`? can you give us an example of your code?

[2018-04-21 08:36] bunower commented on #30
The Problem is i am installing it correctly and the isntallation goes through.
So this is my `composer.json`

[code]
This is my vendor directory after `composer install`  and `composer update`

[code]
And this inside my directus folder :

[code]

[2018-04-22 19:30] bunower commented on #30
Now i get the Error:

[code]

[2018-04-24 04:08] WellingGuzman commented on #30
This has been fixed in the latest version `1.1.1`.

[2018-04-24 04:08] #30 closed

[2018-04-24 04:10] WellingGuzman commented on #29
you have to install it whenever you want, as this may be accessed privately, it should out of the reach of the public.

How did you install it? are you using a direct database connection or API connection?

[2018-04-24 13:43] ryanhmaas commented on #29
@WellingGuzman I installed on it on my own server (DigitalOcean) and used the snippet provided in the readme with the required changes. I was of the understanding that this could provide a public-facing API?

[2018-04-26 04:32] WellingGuzman commented on #29
Absolutely you can use it however you want to, I am sorry I didn't know why I said what I said.

Can you provide an example of the code you are using to make the request so I can replicate the issue.

[2018-04-30 22:40] ryanhmaas commented on #29
@WellingGuzman All I was trying to do was get a token -  so something like a request to `http://mydomain.com/api/1.1/auth/request-token`. But that gave the error I mentioned. Thoughts? I may go mess with the Apache config but I don't see where the SDK would even set up a set of routes for `/api/`

[2018-05-10 20:00] rahulhopin opened #31 "How to query specific items in a table using PHP SDK?"
I am only able to find getItems api. How can we do where/orderby queries with this SDK ?

[2018-05-11 10:28] tchai81 opened #32 "When creating user, password should not be hashed?"
According to this line here:-
https://github.com/directus/directus-sdk-php/blob/dab3b083eaad0526fa5cc860205f953332f71ea9/src/AbstractClient.php#L85

Password that is being send over to directus server should not be hashed?

Error response from directus server while creating user using SDK:-
{"success":false,"error":{"message":"Incorrect email or password"},"message":"User has no token"}

It will w

[2018-05-11 13:25] WellingGuzman commented on #32
Hey @tchai81, are you connecting via de API or directly to a database? The API should get a plain text while the db should hash the password before insert it to the database.

[2018-05-11 13:34] WellingGuzman commented on #31
Hey @rahulhopin,

You can read [here about parameters](https://github.com/directus/api-docs/blob/615986dc79f80a925706f9849568e01af1ecdf8c/SDKs/php-sdk.md#get-parameters) in the php SDK.

Here have a bit more details about filtering: https://github.com/directus/api-docs/blob/1.1/overview/filters.md.

As this is not an actual SDK issue, I will close it. We can keep the conversation if you still have

[2018-05-11 13:34] #31 closed

[2018-05-14 05:11] tchai81 commented on #32
Hey @WellingGuzman,

Thanks for your reply. :)

I'm connecting via the API. I tried to debug through the code, it seems i'm calling the ClientRemote.php:-

https://github.com/directus/directus-sdk-php/blob/dab3b083eaad0526fa5cc860205f953332f71ea9/src/ClientRemote.php#L202

The processData function is calling the processData function in AbstractClient, which in turn is calling the processDataOnDire

[2018-05-14 16:01] WellingGuzman commented on #32
You are correct, the client should not hash the password when connection through the API.

[2018-05-14 16:33] #32 closed

[2018-06-06 17:56] Alfier commented on #12
Is there a way to make things work without composer?
I keep getting a fatal error like the OP

[2018-06-06 21:39] benhaynes commented on #12
We have a `build` branch that has all the dependencies included – perhaps this is what you're looking for?

@WellingGuzman – any additional thoughts on this?

[2018-06-06 21:56] WellingGuzman commented on #12
For the SDK we do not have `build` which now that I think about it it should.

@Alfier How are you trying to install it? I could help you while I try to create a build branch some time this week.

[2018-06-06 22:29] Alfier commented on #12
An all-ready build with SDK included would be wonderful (also, I think it's a pretty straightforward feature to implement asap).
As for now, I'm trying to install everything the old fashioned way, ftp commit and code every dependence, but indeed something is out of my league.
If you say the build branch could be online some time this week I would happily wait, thank you.

[2018-06-08 13:18] benhaynes commented on #12
Sounds good – @WellingGuzman how long would it take to create a `build` branch for the PHP SDK? Is that something that we can get done today?

[2018-06-21 17:00] ifa-charlie opened #33 "42S22 - 1054 - Unknown column 'status'"
# Setup
MAMP: Apache/2.2.34
php7.1.12
Directus 6.4.9
PHP SDK 1.1.1? -- Installed in a separate directory with it's own composer.json
MySQL: 5.6.38

# Error:

<pre><code>
[21-Jun-2018 18:46:35 Europe/Berlin] PHP Fatal error:  Uncaught GuzzleHttp\Exception\ServerException: Server error: `GET http://mydomain.local/directus/api/1.1/tables/pages/rows?status=1&orderBy=sort&orderDirection=ASC` resulted i

[2018-06-21 17:42] ifa-charlie commented on #33
I did a little more digging and realized that the issue stemmed from my dev environment. It turns out that I needed to use the MAMP version of PHP.

<pre><code>
# Use MAMP version of PHP
PHP_VERSION=`command ls /Applications/MAMP/bin/php/ | sort -n | tail -1`
export PATH=/Applications/MAMP/bin/php/${PHP_VERSION}/bin:$PATH
</code></pre>

[https://stackoverflow.com/questions/4145667/how-to-override-

[2018-06-21 17:42] #33 closed

[2018-06-23 12:36] Alfier commented on #12
Any news for the new Directus version and the SDK-ready build?

[2018-07-03 15:41] Konzeptcode opened #34 "failed to open stream: No such file or directory"
Hi,
if i add autoload.php i get the following error:
`Warning: require(/www/htdocs/w0134aab/02_hosted/mva/web/directus/vendor/composer/../../src/helpers.php): failed to open stream: No such file or directory in /www/htdocs/w0134aab/02_hosted/mva/web/directus/vendor/composer/autoload_real.php on line 66`

Could you please help me?

[2018-08-24 14:08] Alfier opened #36 "SDK method: "$client->deleteItem" doesn't work"
The delete method does not work, while every other (create, update, etc.) does.
Example:
[code]
Apart from the deleteItem method, every other line in the code is correctly executed.
The $response variable echoed is:
[code]
Please note that, even if the ids are repeated twice, they are correctly present only once in the db.

The table does not have any status property (I'm not interested in soft-de

[2018-08-24 22:47] Alfier commented on #36
Here is the SQL dump, I can't understand why gitHub won't let me attach a zip file...
[code]

[2018-09-04 17:26] benhaynes commented on #36
@WellingGuzman – I assume this is for v6.x? Is this something that needs to be fixed for v7 too? Has it already been fixed?

[2018-09-05 17:41] WellingGuzman commented on #36
This is 6.x, I wasn't able to reproduce this issue that's why I asked to open the ticket so I could not forget.

This probably has been fixed, but I can't tell until I reproduce this issue.

[2018-10-01 13:17] Muphet commented on #31
how do you implement multiple filters within php sdk?
`'filters' => ['filter1' => ['table'=>'value'],
'filter2' => ['table'=>'value']];`
will return only elements that both filters apply to. How do you add OR to it?

[2018-10-01 23:10] benhaynes commented on #31
@WellingGuzman ??

[2018-10-25 20:20] benhaynes opened #37 "PHP SDK create user permission issue"
From directus created by [imknight](https://github.com/imknight) : directus/directus#2135

## Version Info
  - Directus version and branch (Or commit hash):
  - PHP version: 7.2
  - MySQL version:  MariaDB  10.2.12
  - Web server: (Ex. Apache, nginx or IIS?)  Nginx
  - OS name and version: Mac High Seira

## Expected Behavior
trying to use the API create user, it should return a user object when s

[2018-11-03 19:46] xJoeyv opened #38 "Client instance creation: "Uncaught PDOException: SQLSTATE[42S22]: Column not found""
Hi,

I create a new FactoryClient and pass in the config and get an error back without executing any other code related to the client. It's just initing it.

**Error**
`Fatal error: Uncaught PDOException: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'collection' in 'where clause' in C:\laragon\www\joeydvries\vendor\zendframework\zend-db\src\Adapter\Driver\Pdo\Statement.php:239 Stack trac

[2018-11-05 13:43] WellingGuzman commented on #38
Hey @xJoeyv, Are you using the library on a Directus 7 instance? Because the SDK should only works for Directus 6.

[2018-11-08 18:14] jreid06 opened #39 "How do i use the SDK with v7 of the api? the query string is structured differently to v6 api"

[2018-11-14 15:15] weissenheimer opened #40 "Allow configuration option to skip SSL certificate verification"
The Directus PHP-SDK cannot be used with self-signed SSL certificates due to an error from Guzzle:

However, Guzzle provides an option to disable SSL verification:

```$client->setDefaultOption('verify', false);```

Can we have this option passed when initializing a new client instance? Something like:

[code]

[2018-11-21 14:07] WellingGuzman commented on #40
Thanks @weissenheimer, I will implement this soon. If someone else want to give this a try I can help you. here is where the Guzzle client is created: https://github.com/directus/sdk-php/blob/master/src/BaseClientRemote.php#L158

[2018-11-21 14:15] WellingGuzman commented on #39
At the moment the PHP SDK only works for Directus 6. We will be working on building a new version that supports Directus 7.

If anyone would like to contribute I would be glad to help them build the new version.

[2018-11-25 13:54] johannesvg commented on #39
Maybe a suggestion is to explicitly mention this on the front page of this github! I also found this out the hard way after a few hours of struggling.

[2018-11-26 14:02] weissenheimer opened #41 "EntryCollection.php returns undefined offset"
In ``EntryCollection.php``, there is a function ``offsetGet($offset)``:

[code]

However, when using ``getItems()`` in a PHP script and having warnings turned on, you'll receive:

``
PHP Notice:  Undefined offset: 1 in vendor/directus/sdk/src/Response/EntryCollection.php on line 141
``

Besides the warning, data are received correctly. Observed on PHP 7.2.11.

[2018-11-26 15:40] benhaynes commented on #41
This SDK is still for Directus 6... are you trying to use it with v7?

We're planning to update this SDKin the next few days.

[2018-11-26 15:56] benhaynes commented on #39
So sorry about the wasted time @johannesvg — I've added a notice about this in the README header.

Also, we'll be updating this to v7 in the next few days.

[2018-11-26 16:42] weissenheimer commented on #41
No, this happens with Directus 6.

[2018-12-09 17:19] biteworks commented on #39
Is there a specific date when you will update the code to version 7?
I'm about to add a new project to your awesome CMS and need the SDK.

[2018-12-10 04:06] benhaynes commented on #39
Hey @biteworks — we started in on this, but our API Lead dev had incorrectly estimated how long it would take to update. As of now this is prohibitively long (weeks) and we need to resolve some core bugs first. Unfortunately that means this is no longer scheduled and we'd need some community assistance or the [Swagger/Paw direction](https://github.com/directus/directus/issues/2255) completed.

You

[2018-12-12 17:14] biteworks commented on #39
Thanks for your quick answer. Then I will build myself a wrapper to communicate fast with the API.

[2018-12-12 17:23] benhaynes commented on #39
Awesome! Let us know if you are interested in adding this to the Core SDKs so the community can help build it. 😄

[2018-12-13 01:13] MartinMekhaiel opened #42 "Wrong Package Dependencies are getting pulled"
Hi,

Im using the SDK in My Composer.json like so:

"directus/sdk": "^1.1.1"

the correct pulled dependencies should be
"directus/collection" : "1.0.0",
"directus/database" : "1.0.1",
"directus/filesystem" : "1.1.0",
"directus/hash" : "1.0.0",
"directus/hook" : "1.1.0",
"directus/permissions" : "1.1.0",
"directus/utils" : "1.1.0",

but for some reason the "1.x-dev" branch gets pulled for all depen

[2018-12-13 01:57] benhaynes commented on #42
Just to be sure, you are using this with Directus 6? The PHP SDK has not been updated to Directus 7 yet.

[2018-12-13 02:03] MartinMekhaiel commented on #42
yes. im using 6.4

[2018-12-14 21:47] WellingGuzman commented on #42
Hey @MartinMekhaiel,

I was able to test this, and I am getting this error. Although it surprises me is that missing function (`__t`) seems to have never been in the SDK before.

I will have to take some time to debug this, I don't see much change between the two versions.

I will keep you posted.

[2018-12-20 09:10] mmbpeople commented on #39
Pleaz don't give up on the php sdk. I know it's a lot of time, but it is really useful...

[2018-12-20 17:22] mmbpeople commented on #39
I'm a rookie sorry i don't have the skills....

[2019-02-06 11:39] Strawbang opened #43 "How to use two filters correctly + how to find correctly multilingual ?"
Hi,

I want optimize this code because load all the content, i want to understand  :
First i want to delete condition for comparing the language and after i want to delete loop language.

I have follow that for create a multilingual : https://medium.com/directus/multilingual-content-setup-in-directus-i18n-4f243f72e554

![capture d ecran 2019-02-06 a 12 27 04](https://user-images.githubusercontent.

[2019-02-07 18:38] benhaynes commented on #43
Hey @Strawbang — I just wanted to make sure you knew that this current PHP SDK is only for v6 of Directus (we're on v7 now, but this SDK has not been updated yet).

[2019-02-08 10:16] Strawbang commented on #43
Hey @benhaynes we use directus v6.

[2019-05-03 10:52] nashtu3000 commented on #39
@benhaynes , any update? Been trying to cook something for Directus, and I'm guessing the PHP SDK is on lots of people wishlist.

[2019-05-03 11:58] shealavington commented on #39
The update will probably be about the same now, as it was before. With a small team, it's not viable for Directus to be able to maintain many SDKs including updates and fixes.

For PHP, Guzzle does some good work. 👍

[2019-05-03 14:05] benhaynes commented on #39
Indeed it is! Our focus is on the Javascript SDK as of now since it is used to power the Core Directus App. For any/all other SDKs we will need to use a generator... such as Swagger, OAS, Paw, Postman, etc.

We're eager to have this too, and OAS seems like the best option... but they're missing our `filter` syntax (which is kinda important!).

[2019-07-30 05:02] nisan92 opened #44 "PHP SDK is not working for latest version"
I am using DIrectus version 7.7.0 where i can read and write data using postman through api, but when i am trying to fetch data using PHP SDK it throw an error that says `Unknwon Project API`,  well i am new user of directus , but as far i understand the request url for new version of directus is different like `https://[Project-url]/_/items/user_information` , When this php sdk trying to request

[2019-07-30 08:17] shealavington commented on #44
Hey @nisan92

We're aware that the PHP SDK Doesn't work for Directus 7, the `README.md` still mentions that this is `Directus 6 PHP SDK (Legacy)`, this hopefully clears up that the PHP SDK will not currently work for Directus 7, I recommend using Guzzle for now and call the API directly.

Unfortunately supporting many SDK's can be a resource heavy task that Directus just can't support at this time

[2019-07-30 08:17] #44 closed

[2020-07-07 04:29] doughnet opened #45 "Needs updating?"
Haven’t been an update for a while. Why? PHP is not dead.

[2020-09-14 10:59] JonathanSchndr commented on #45
any infos? thanks! @benhaynes

[2020-09-16 20:12] doughnet commented on #45
Disappointing that there's no attention to this.

[2020-09-16 20:16] benhaynes commented on #45
I agree! Not seeing many PRs from the community, unfortunately. But the good news is...

The upcoming Directus 9 has a full OpenAPI Specification (eg: Swagger) that can be used to generate API Clients (eg: SDKs)... so there won't be a need to create these wrappers manually. We don't have time internally, and clearly the community doesn't have a desire to contribute their time to this, so automatic

[2020-09-17 19:39] JonathanSchndr commented on #45
Great news! It is possible to upgrade directus 8 to 9 or its a breakingchange?

[2020-09-17 19:49] benhaynes commented on #45
It's a breaking change, but since Directus stores pure SQL, you can always seamlessly migrate your project content between versions... it's just the system settings which will need to be reconfigured (they are far more powerful, and there's no way to reliably convert them).